body {
    margin: 0px;
    padding: 0px;
    background-color: black;
    font-size: 20pt;
    font-family: 'Segoe UI', Roboto, sans-serif;
}

#root {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#d8d8d8, #eeeeee);
}

#topBanner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 8vh;
    background: #5ca0ff;
    -webkit-clip-path: polygon(0% 0%, 8vh 100%, calc(100% - 8vh) 100%, 100% 0%);
    clip-path:         polygon(0% 0%, 8vh 100%, calc(100% - 8vh) 100%, 100% 0%);
}

#topBanner > * {
    color: white;
    font-size: 4.35vh;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.4);
    letter-spacing: 1.2px;
    font-weight: 500;
}

#abstract {
    position: absolute;
    top: 12%;
    font-size: min(2.9vmin, 21pt);
    text-align: center;
}

#reader-container {
    width: min(968px, calc(100% - 50px));
    height: 0;
    position: absolute;
    top: 31%;
}

#reader {
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 0;
    padding-bottom: 46%;
    position: absolute;
}

#drawPad {
    position: absolute;
    width: 41.4%;
    height: 90%;
    left: 2.3%;
    top: 5%;
    background: white;
    border-radius: 7px;
}

#recognize {
    position: absolute;
    width: 19%;
    height: 15%;
    left: 46%;
    top: 5%;
    color: white;
    font-size: min(2.7vw, 24pt);
    padding: 0;
    background-color: #ffa545;
    border-radius: 6px;
    border: none;
}
#recognize:hover {
    background-color: #ffb963;
}
#recognize:active {
    background-color: #d67a38;
}

#clear {
    position: absolute;
    width: 15%;
    height: 12%;
    left: 46%;
    top: 21%;
    color: white;
    font-size: min(2.7vw, 24pt);
    padding: 0;
    background-color: #5dd0f0;
    border-radius: 6px;
    border: none;
}
#clear:hover {
    background-color: #7eddf2;
}
#clear:active {
    background-color: #5cb7db;
}

/* 185 x 414 */
#arrow {
    position: absolute;
    width: 8.94%;
    height: 46.06%;
    left: 65.6%;
    bottom: 44%;
}

#textArea {
    position: absolute;
    left: 46%;
    top: 56%;
    right: 2.3%;
    bottom: 5%;
    background: rgba(0,0,0,0.5);
    border-radius: 25px;
    color: white;
    padding: 18px 24px;
    white-space: pre;
    font-size: min(3.1vw, 29pt);
    overflow: auto;
}